<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/style.css">

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </head>


  <body class="mx-4">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ BASE_URL }}">
            Work2Flow
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Profile
                </a>

                <div class="navbar-dropdown " >
                  <a class="navbar-item is-medium" href="{{ BASE_PATH }}/Profile" >
                    See profile
                  </a>
                  <div class="navbar-item">
                    <div class="buttons is-right">
                      <a class="button is-danger is-normal " href="{{ BASE_PATH }}/logout">
                        Logout
                      </a>
                    </div>
                  </div>

                </div>

                
            </div>
          </div>


        </div>
      </nav>
    
    <section class="">
      <div class=" buttons is-right my-5 hero-head mb-1">
          <a class="button is-primary" href="{{ BASE_PATH }}/CreateAssignment"> Create new Assignment</a>
      </div>
    </section>



  <section class="section">
    <div class="container box" >
      <div><span class="is-size-3">Halo, </span><span class="is-size-3 has-text-weight-bold">{{ requesterData[2] }}</span></div>
      <p class="is-size-6" id="todaysDate">Hari ini,</p>
    </div>
  </section>

  <section>

    
    <div class="tabs">
    <ul>
      <li id="forYouTabs" class="is-active" ><a>Tugas untuk anda</a></li>
      <li id="fromYouTabs"><a>Tugas dari anda</a></li>
    </ul>
  </div>
  
  <div id="forYou">
    <table class="container is-fullwidth table" > 
      <thead>
        <tr>
          <th>Assignment ID</th>
          <th>Version</th>
          <th>STATE</th>
          <th>TITLE</th>
          <th>Due date</th>
          <th>from</th>
          <th>url</th>
        </tr>
      </thead>
      <tbody>
        {{ yourUnfinishedAssignmentsHTML|safe }}
        <!-- <tr>
          <td>c00a5eb1-056e-4d0a-8b5f-8a3cd36b398f</td>
          <td>1</td>
          <td>menunggu-review</td>
          <td>A</td>
          <td>2025-02-23 05:47:00</td>
          <td>acc797a1-412f-4554-9e1e-9d61ce870199</td>
          <td><a href="/W2F/Assignment/c00a5eb1-056e-4d0a-8b5f-8a3cd36b398f/1?ID=3d152271-fc92-4c3c-9d05-4557f6852c67"> Link </a></td>
        </tr> -->
      </tbody>
    </table>
  </div>

  <div id="fromYou" hidden>
    <table class="container is-fullwidth table" > 
      <thead>
        <tr>
          <th>Assignment ID</th>
          <th>Version</th>
          <th>STATE</th>
          <th>TITLE</th>
          <th>Due date</th>
          <th>for</th>
          <th>url</th>
        </tr>
      </thead>
      <tbody>
        {{ AssignmentCreatedByYouThatHasNotDoneYetHTML|safe }}
        <!--<tr>
          <td>d</td>
          <td>e</td>
          <td>menunggu-review</td>
          <td>f</td>
          <td>2025-02-23 05:47:00</td>
          <td>acc797a1-412f-4554-9e1e-9d61ce870199</td>
          <td><a href="/W2F/Assignment/c00a5eb1-056e-4d0a-8b5f-8a3cd36b398f/1?ID=3d152271-fc92-4c3c-9d05-4557f6852c67"> Link </a></td>
        </tr>-->
      </tbody>
    </table>
  </div>
</section>
  
  <!-- <script src="src/script.js"></script> -->
  <script>

    function getDateIna() {
      a = new Date();

      var y = a.getFullYear();
      var m = a.getMonth()+1;
      var d = a.getDate();
      var dayPos = a.getDay(); // returns the number of day in week
      var H = a.getHours();
      var M = a.getMinutes();

      var inaMonth = ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"];
      var inaDay = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];


      return `Hari ini, ${inaDay[dayPos]}, ${d} ${inaMonth[m]} ${y} `
    }

    function isactivetoggler(target) {
        $(target).toggleClass("is-active");

      }
      $(document).ready(function() {

      // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            isactivetoggler(".navbar-burger")
            isactivetoggler(".navbar-menu")
        });

        $("#forYouTabs").click(function() {

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          isactivetoggler("#forYouTabs")
          isactivetoggler("#fromYouTabs")
          $("#fromYou").hide();
          $("#forYou").show();
        });
        
        $("#fromYouTabs").click(function() {

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          isactivetoggler("#fromYouTabs")
          isactivetoggler("#forYouTabs")
          $("#forYou").hide();
          $("#fromYou").show();
        });


      $(document).ready(function () {
        $("#todaysDate").text(getDateIna());
      });


      });
    </script>
  </body>
</html>