<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/da5943c57b.js" crossorigin="anonymous"></script>

</head>
<body class="m-4">
    <div class="hero-head mb-1">
        <a class="button is-small" href="{{BASE_PATH}}/"> < Back to dashboard</a>
    </div>


    <section class="container is-max-tablet">
        <div class="hero">
            <div class="hero-body">
                <h1 class="title">Profile</h1>
            </div>
            
            <table>
                <tr>
                    <th class="has-text-right">Name: </th>
                    <td class="has-text-centered">{{ userData[2] }}</td>
                </tr>
                <tr>
                    <th class="has-text-right">Desc: </th>
                    <td class="has-text-centered">{{ userData[3] }}</td>
                </tr>
                <tr>
                    <th class="has-text-right">Email: </th>
                    <td class="has-text-centered">{{ userData[4] }}</td>
                </tr>
            </table>
            <div>
                <a class="button is-text" href="{{BASE_PATH}}/updateProfile">edit Profile</a>
            </div>
        </div>
    </section>
    

    
</body>
</html>